<mat-nav-list>
    <div class="logo py-4">
        <mat-icon style="color: aliceblue;">dashboard</mat-icon>
    </div>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-icon>arrow_drop_down_circle</mat-icon>Administracion
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="/usuarios" (click)="accordion.closeAll();">Usuarios</a>
                <a mat-list-item routerLink="/permisos" (click)="accordion.closeAll();">Permisos</a>
            </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-icon>arrow_drop_down_circle</mat-icon>Catalogos
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="/cata/transportista" (click)="accordion.closeAll();">Transportista</a>
                <a mat-list-item routerLink="/cata/tarifaembarque" (click)="accordion.closeAll();">Tarifa Embarque</a>
                <a mat-list-item routerLink="/cata/tipocamion" (click)="accordion.closeAll();">Tipo Camion</a>
                <a mat-list-item routerLink="/cata/tipoanticipo" (click)="accordion.closeAll();">Tipo Anticipo</a>
                <a mat-list-item routerLink="/cata/unidadmedida" (click)="accordion.closeAll();">Unidad Medida</a>
                <a mat-list-item routerLink="/cata/productos" (click)="accordion.closeAll();">Productos</a>
                <a mat-list-item routerLink="/cata/camion" (click)="accordion.closeAll();">Camion</a>
                <a mat-list-item routerLink="/cata/pilotos" (click)="accordion.closeAll();">Pilotos</a>
            </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-icon>arrow_drop_down_circle</mat-icon>Procesos
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="/home" (click)="accordion.closeAll();">Factura Registro</a>
                <a mat-list-item routerLink="#" (click)="accordion.closeAll();">Poliza Registro</a>
                <a mat-list-item routerLink="/home" (click)="accordion.closeAll();">Viajes Registro</a>
                <a mat-list-item routerLink="#" (click)="accordion.closeAll();">Vale Registro</a>
            </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-icon>arrow_drop_down_circle</mat-icon>Reportes
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="/home" (click)="accordion.closeAll();">Combustible por Poliza</a>
                <a mat-list-item routerLink="#" (click)="accordion.closeAll();">Poliza</a>
            </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-icon>arrow_drop_down_circle</mat-icon>Ajustes
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="/home" (click)="accordion.closeAll();">Parametros de Empresa</a>
            </mat-nav-list>
        </mat-expansion-panel>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/home" (click)="accordion.closeAll(); toggleSidebar();">
            <mat-icon>account_circle</mat-icon> Contacto
        </a>

    </mat-accordion>

</mat-nav-list>