<ng-container *ngIf="!authservice.loggedIn()">
    <mat-drawer-container>
        <mat-drawer-content>
            <app-login></app-login>
        </mat-drawer-content>
    </mat-drawer-container>
</ng-container>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<mat-drawer-container *ngIf="authservice.loggedIn()">
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>