<div class="container">

    <div class="container col-md-3" style="float: left; margin-bottom: 15px;">
        <div class="box">
            <p>{{ label1 }}<br/><span>{{ label11 }}</span></p>
            <mat-icon class="box-icon">today</mat-icon>
        </div>
    </div>

    <div class="container col-md-3" style="float: left; margin-bottom: 15px;">
        <div class=" box">
            <p>{{ label2 }}<br/><span>{{ label21 }}</span></p>
            <mat-icon class="box-icon">description</mat-icon>
        </div>
    </div>

    <div class="container col-md-3" style="float: left; margin-bottom: 15px;">
        <div class=" box">
            <p>{{ label3 }}<br/><span>{{ label31 }}</span></p>
            <mat-icon class="box-icon">assignment</mat-icon>
        </div>
    </div>

    <div class="container col-md-3" style="float: left; margin-bottom: 15px;">
        <div class=" box">
            <p>{{ label4 }}<br/><span>{{ label41 }}</span></p>
            <mat-icon class="box-icon">ev_station</mat-icon>
        </div>
    </div>
</div>